@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<h4>
    <div class="container">
        <br />
        <div class="row">
            ELibrary was developed as a part of CSE 3200 course.
        </div>
        <br />
        <div class="row">
            Members:
        </div>
        <div class="row">
            <div class="col-md-2">190104016</div>
            <div class="col-md-10">Md. Mainul Islam</div>
        </div>
        <div class="row">
            <div class="col-md-2">190104021</div>
            <div class="col-md-10">Sohom Munasib Sahaun</div>
        </div>
    </div>
</h4>